.listContainer {
    background-color: #212121;
    justify-content: left;
}

.listItem--itemMenu {
    background-color: #212121;
}

.listItem--itemMenu :global(.vtex-button) {
    background-color:#212121;
    color: white;
    border: none;
    border-radius: 0;
}