/* /styles/css/vtex.store-components.css */
.imageElement--imageHome {
    border-radius: 25px;
}

.searchBarIcon {
    color:white;
}

.searchBarInnerContainer :global(.vtex-input-prefix__group){
    border: none;
    border-bottom: solid white 1px;
    border-radius: 0;
    width: 500px;
}

.searchBarInnerContainer :global(.vtex-styleguide-9-x-input){
    background-color: #212121;
}

.searchBarInnerContainer :global(.vtex-input__suffix){
    background-color: #212121;
}

.installmentsPrice {
    color:chartreuse
}

.sellingPrice {
    color: white;
}

.productBrand {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}