.flexRowContent--header {
    background-color: #212121;
}

.flexRowContent--items {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: #424242;
    border-radius: 5px;
}

.flexRowContent--footer {
    padding: 0;
    padding-top: 10px;
    align-items: center;
    background-color: #424242;
}

.flexCol--product-main {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}